<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <br>
        <div style="width: 500px; margin:0 auto">
            <h1 class="h1 text-center text-light">Admin Dashboard</h1>
            <form class="form-group" method="" action="/logout">
                <button class="btn btn-lg btn-danger btn-center btn-block" type="submit">Logout</button>
            </form>
        </div>
        <div>
            <h4><a  th:href="@{'/admin/api/student/new'}">Register new student</a></h4>
        </div>
        <table class="table text-light">
            <thead class="thead-dark">
            <tr>
                <th>Student ID</th>
                <th>Active Student</th>
                <th>Student Name</th>
                <th>Student Contact</th>
                <th>Student Address</th>
                <th>Student Course</th>
                <th>Student username</th>
                <th>Role in database</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr  th:each="student : ${studentList}">
                <td th:text="${student.id}">Student ID</td>
                <td th:text="${student.active}">Active Student</td>
                <td th:text="${student.name}">Student name</td>
                <td th:text="${student.contact}">Contact</td>
                <td th:text="${student.address}">Address</td>
                <td th:text="${student.course}">Course</td>
                <td th:text="${student.userName}">Username</td>
                <td th:text="${student.roles}">Role in database</td>
                <td>
                    <a th:href="@{'/admin/api/student/edit/' + ${student.id}}">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/admin/api/student/delete/' + ${student.id}}">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>
    </tbody>
    </table>
    </div>
</html>